@tailwind base;
@tailwind components;
@tailwind utilities;

/* --------------     fonts     --------------  */

@font-face {
    font-family: "Titillium Web";
    src: url("/Fonts/TitilliumWeb-Black.ttf") format("truetype");
    font-style: normal;
}

@font-face {
    font-family: "Mr Dafoe";
    src: url("/Fonts/MrDafoe-Regular.ttf") format("truetype");
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url("/Fonts/Montserrat-Regular.ttf") format("truetype");
    font-style: normal;
}

@font-face {
    font-family: "Poppins";
    src: url("/Fonts/Poppins-Regular.ttf") format("truetype");
    font-style: normal;
}

@font-face {
    font-family: "Yellowtail";
    src: url("/Fonts/Yellowtail-Regular.ttf") format("truetype");
    font-style: normal;
}
@font-face {
    font-family: "Bungee";
    src: url("/Fonts/Bungee-Regular.ttf") format("truetype");
    font-style: normal;
}
@font-face {
    font-family: "BungeeShade";
    src: url("/Fonts/BungeeShade-Regular.ttf") format("truetype");
    font-style: normal;
}

/* --------------                            --------------  */

/* --------------     png color converter     --------------  */

.png-green {
    filter: invert(48%) sepia(5%) saturate(3277%) hue-rotate(72deg)
        brightness(116%) contrast(126%);
}

.png-hackerman {
    filter: invert(65%) sepia(25%) saturate(7375%) hue-rotate(74deg)
        brightness(117%) contrast(123%);
}
.png-light-gray {
    filter: invert(80%) sepia(6%) saturate(10%) hue-rotate(341deg)
        brightness(88%) contrast(85%);
}

.png-dark-gray {
    filter: invert(39%) sepia(0%) saturate(0%) hue-rotate(351deg)
        brightness(96%) contrast(99%);
}

.png-white {
    filter: invert(100%) sepia(6%) saturate(7476%) hue-rotate(215deg)
        brightness(110%) contrast(105%);
}
.png-red {
    filter: invert(26%) sepia(83%) saturate(7492%) hue-rotate(356deg)
        brightness(112%) contrast(123%);
}
.pink-hue-effect {
    filter: hue-rotate(130deg) saturate(2);
}

.png-primeagen {
    filter: invert(99%) sepia(61%) saturate(1651%) hue-rotate(164deg)
        brightness(88%) contrast(93%);
}
.png-hipyo {
    filter: invert(54%) sepia(20%) saturate(1111%) hue-rotate(220deg)
        brightness(91%) contrast(89%);
}

/* --------------              colors              --------------  */

/* rgb(34 197 94) this is text-green-500 */
/* #22C55E */
/* $lightPurple: #ff0a9c;
$darkPurple: #ae1857;
$darkGreen: #18da8d;
$lightGreen: #40e331;
rgb(57, 162, 217): #2033c1; */

/* --------------                            --------------  */

/* --------------         ADMIN          --------------  */

.admin-search::placeholder {
    color: #ff0000;
}

/* cool pulse animation maybe for profile */

/* .reply-input:focus {
    border-bottom: 2px solid #ccc; 
    outline: none;
    animation: pulseAnimation 1s infinite;
}

@keyframes pulseAnimation {
    0% {
        box-shadow: 0 0 0 0 rgba(0, 123, 255, 0.7);
    }
    70% {
        box-shadow: 0 0 0 10px rgba(0, 123, 255, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(0, 123, 255, 0);
    }
} */

/* --------------     Navbar     --------------  */

.dropdown-menu-gif {
    background-image: url("../../public/Gifs/green-grid.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0 0 10px #32ab36;
    z-index: 10;
}

.menu-index {
    z-index: 50;
}

/* --------------     KEEB TYPE    --------------  */
/* --------------     KEEB TYPE    --------------  */
/* --------------     KEEB TYPE    --------------  */
/* --------------     KEEB TYPE    --------------  */

.keeb-type-pause-menu {
    z-index: 5;
}

.keeb-type-input {
    z-index: 10;
}

.blinking-cursor {
    animation: blink-animation 0.7s linear infinite alternate;
}

@keyframes blink-animation {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

/* ---------    FREE PLAY   ----------  */
/* ---------    FREE PLAY   ----------  */
/* ---------    FREE PLAY   ----------  */

/* freeeeplayyyy */

/* Keyboard.css */

.key {
    border-radius: 3px;
    box-sizing: border-box;
    /* color: rgba(0, 0, 0, 0.75); */
    font-family: system-ui, sans-serif;
    position: relative;
    text-align: center;
    vertical-align: middle;
    transition: transform 1ms;
    transform: scale(1);
    outline: 0;
}

.key:active,
.key.pressed {
    transform: scale(0.96, 0.96) translate(0, 3px);
}

/* freeplay monitor  */

.monitor-tilt {
    overflow-y: auto;
    white-space: pre-wrap;
    word-break: break-word;
    transform: perspective(500px) rotateX(-8deg);
    /* transform: perspective(500px) rotateX(-15deg); */
    transition: transform 0.3s ease-in-out;
    animation: screen 2.5s ease-in alternate infinite;
}

@keyframes screen {
    0%,
    90%,
    96% {
        background-color: #a9dffd;
    }
    93%,
    100% {
        background-color: rgba(143, 210, 248, 0.8);
    }
}

.mousepad {
    background: radial-gradient(circle at center, #333, #000);
    padding: 10px;
    border-radius: 2xl; /* This will depend on the Tailwind CSS version for exact syntax */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    position: relative;
    overflow: hidden;
}

.mousepad::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    opacity: 0.1;
}

.deskmat-grid {
    background-color: black;
    border: 1px solid green;
    position: relative;
    overflow: hidden;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    box-shadow: 0 16px 20px rgba(0, 0, 0, 0.5);
    background-image: linear-gradient(to right, green 1px, transparent 1px),
        linear-gradient(to bottom, green 1px, transparent 1px);
    background-size: 20px 20px;
}

/* sliding grid */
.deskmat-sliding-grid {
    background-color: black;
    border: 1px solid green;
    position: relative;
    overflow: hidden;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    box-shadow: 0 16px 20px rgba(0, 0, 0, 0.5);
    background-image: linear-gradient(to right, green 1px, transparent 1px),
        linear-gradient(to bottom, green 1px, transparent 1px);
    background-size: 20px 20px;
    animation: slideDown 1s linear infinite;
}

@keyframes slideDown {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 0 20px;
    }
}

/* .mousepad-80s {
    background: linear-gradient(45deg, #ff0080, #ff00ff, #0080ff, #00ffff);
    background-size: 600% 600%;
    animation: gradientAnimation 10s ease infinite;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    position: relative;
    overflow: hidden;
}

.mousepad-80s::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: 
        linear-gradient(0deg, transparent 95%, #fff 95%),
        linear-gradient(90deg, transparent 95%, #fff 95%);
    background-size: 50px 50px;
    opacity: 0.2;
}

@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
} */

/* hacking time game mode  */
/* scan lines */
/* .hacker-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    background-image: radial-gradient(circle, #11581e, #041607),
        url("https://media.giphy.com/media/oEI9uBYSzLpBK/giphy.gif");
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
    animation: pulsepog 10s infinite ease-in-out;
}

.hacker-scanlines {
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: repeating-linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 0,
        rgba(0, 0, 0, 0.3) 50%,
        rgba(0, 0, 0, 0) 100%
    );
    background-size: auto 4px;
    z-index: 5;
    animation: scanpog 5s linear infinite;
}

@keyframes pulsepog {
    0%,
    100% {
        background-size: 100% 100%;
    }
    50% {
        background-size: 120% 120%;
    }
}

@keyframes scanpog {
    from {
        background-position: 0% 0%;
    }
    to {
        background-position: 100% 100%;
    }
} */

/* dot effect */
/* .hacker-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0f1021; 
    background-image: radial-gradient(circle, #00ff00 1px, transparent 1px);
    background-size: 20px 20px;
    animation: backgroundScroll 20s linear infinite;
}

@keyframes backgroundScroll {
    0% { background-position: 0 0; }
    100% { background-position: 1000px 1000px; }
} */

/* --------------     END KEEB TYPE    --------------  */
/* --------------     END KEEB TYPE    --------------  */
/* --------------     END KEEB TYPE    --------------  */
/* --------------     END KEEB TYPE    --------------  */

/* --------------     Scrollbar    --------------  */

/* Hide the default scrollbar */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #1c1c1c;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #606060;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #888;
}

/* --------------     Sign In      --------------  */
/* --------------     Sign In      --------------  */
/* --------------     Sign In      --------------  */
/* --------------     Sign In      --------------  */

.button-hover-effect {
    position: relative;
    overflow: hidden;
}

.button-hover-effect::before {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url("../../public/Gifs/matrix.gif");
    background-size: 200%;
    background-repeat: no-repeat;
    background-position: right center;
    transform: translateX(100%);
    transition: transform 0.3s ease;
}

.button-hover-effect:hover::before {
    transform: translateX(-18%);
}

/* --------------        KEEBDEX        --------------  */
/* --------------        KEEBDEX        --------------  */
/* --------------        KEEBDEX        --------------  */
/* --------------        KEEBDEX        --------------  */

.keebdex-hover-effect {
    position: relative;
    overflow: hidden;
}

.keebdex-hover-effect::before {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url("../../public/Gifs/matrix.gif");
    background-size: 200%;
    background-repeat: no-repeat;
    background-position: right center;
    transform: translateX(100%);
    transition: transform 0.3s ease;
}

.keebdex-hover-effect:hover::before {
    transform: translateX(-5%);
}

.keebdex-button {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
    transition: background-color 0.4s cubic-bezier(0.35, 0, 0, 1);
    background-color: #000;
}

.keebdex-button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../../public/Gifs/matrix.gif");
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 100%;
    opacity: 0;
    transition: opacity 1.2s cubic-bezier(0.35, 0, 0, 1);
    z-index: 0;
}

.keebdex-button:hover::before {
    opacity: 1;
}

@keyframes arrowShrinkCircle {
    0%,
    100% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(0);
        opacity: 1;
    }
    100% {
        transform: scale(1) rotate(-45deg);
        background-color: #616161;
        opacity: 1;
    }
}

.keebdex-button-arrow {
    transition: transform 0.4s cubic-bezier(0.35, 0, 0, 1);
}
.keebdex-button:hover .keebdex-button-arrow {
    animation: arrowShrinkCircle 1s cubic-bezier(0.35, 0, 0, 1) forwards;
    transition-delay: 0s, 0s;
}

/* --------------     Title Script     --------------  */
/* --------------     Title Script     --------------  */
/* --------------     Title Script     --------------  */
/* --------------     Title Script     --------------  */

.moving-title {
    position: relative;
}

.moving-title::after {
    content: "";
    position: absolute;
    animation: periods 1s linear infinite;
}

@keyframes periods {
    25% {
        content: ".";
    }

    50% {
        content: "..";
    }

    75% {
        content: "...";
    }
}

/* --------------         KEEB SHOP          --------------  */
/* --------------         KEEB SHOP          --------------  */
/* --------------         KEEB SHOP          --------------  */
/* --------------         KEEB SHOP          --------------  */

.keebshop-listing-preview-container {
}

.keebshop-listing-preview {
    visibility: visible;
    transition: visibility 0s linear 0.5s, opacity 0.5s ease-in-out 0s;
    opacity: 1;
}

.keebshop-listing-preview-container:hover .keebshop-listing-preview {
    visibility: hidden;
    opacity: 0;
}

.very-sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 140px;
    align-self: flex-start;
    z-index: 5;
}

.custom-select {
    cursor: pointer;
    opacity: 0;
    z-index: 10;
}

.select-fake {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.search-input-placeholder::placeholder {
    color: rgb(34 197 94);
}

.search-input-hack {
    z-index: 20;
}
.search-input-matrix {
    z-index: 1;
}

.shop-create-listing {
    filter: invert(39%) sepia(0%) saturate(0%) hue-rotate(351deg)
        brightness(96%) contrast(99%);
    transition: filter 0.4s cubic-bezier(0.35, 0, 0, 1);
}
.shop-create-listing:hover {
    filter: invert(48%) sepia(5%) saturate(3277%) hue-rotate(72deg)
        brightness(116%) contrast(126%);
}

.shop-price-filter-button {
}

.shop-price-filter-arrow {
    transition: color 0.4s cubic-bezier(0.35, 0, 0, 1);
}

.shop-price-filter-button:hover .shop-price-filter-arrow {
    color: white;
}

/*  ----    Listings Hover effect    ---- */
.listing-preview-hover-effect {
    background-color: #000000;
}

.listing-preview-hover-effect img {
    transition: opacity 0.55s ease;
}

.listing-preview-hover-effect:before,
.listing-preview-hover-effect:after,
.listing-preview-hover-effect div:before,
.listing-preview-hover-effect div:after {
    content: "";
    position: absolute;
    background-color: rgb(34 197 94);
    transition: transform 0.55s ease, width 0.55s ease, height 0.55s ease;
    transition-delay: 0s, 0.15s, 0.15s;
}

.listing-preview-hover-effect:before,
.listing-preview-hover-effect:after {
    left: 25px;
    right: 25px;
    height: 2px;
    width: 0;
}

.listing-preview-hover-effect:before {
    top: 25px;
    transform: translateX(-100%);
}

.listing-preview-hover-effect:after {
    bottom: 25px;
    transform: translateX(100%);
}

.listing-preview-hover-effect div:before,
.listing-preview-hover-effect div:after {
    top: 25px;
    bottom: 25px;
    width: 2px;
    height: 0;
}

.listing-preview-hover-effect div:before {
    left: 25px;
    transform: translateY(-100%);
}

.listing-preview-hover-effect div:after {
    right: 25px;
    transform: translateY(100%);
}

.listing-preview-hover-effect:hover:before,
.listing-preview-hover-effect:hover:after {
    width: calc(100% - 50px);
    transform: translateX(0);
}

.listing-preview-hover-effect:hover div:before,
.listing-preview-hover-effect:hover div:after {
    height: calc(100% - 50px);
    transform: translateY(0);
}
.listing-preview-hover-effect:hover img {
    opacity: 0.55;
}

.show-listing-hover-content {
    opacity: 1;
    transition: opacity 0.55s ease;
}

.hide-listing-hover-content {
    opacity: 0;
    transition: opacity 0.55s ease;
}

/*  ----    End Listings Hover effect    ---- */
/*  ----    End Listings Hover effect    ---- */

/* --------------                            --------------  */

/* ------    shop listing title   ------  */

.listing-page-title-big {
    background-image: -webkit-linear-gradient(
        #378dbc 0%,
        #b6e8f1 46%,
        #ffffff 50%,
        #32120e 54%,
        #e692eb 58%,
        #1c0466 90%,
        #f284f8 100%
    );
    /* background-size: 200%; */
    line-height: 1.2;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1.5px #f5f5f5;
    font-style: italic;
    z-index: 10;
}

/* line-height: 1.2; */
.listing-page-title-small {
    color: #f975e7;
    transform: rotate(-30deg);
    -webkit-transform: rotate(-30deg);
    -webkit-text-fill-color: #f008e4;
    -webkit-text-stroke: 0.5px #f008e4;
    -webkit-filter: drop-shadow(2px 2px 20px#f008e4);
    z-index: 10;
}

.pog-title {
    transition: all 0.5s;
    -webkit-text-stroke: 4px #d6f4f4;
    font-variation-settings: "wght" 900, "ital" 1;
    font-size: 15rem;
    text-align: center;
    color: transparent;
    font-family: "Meta", sans-serif;
    text-shadow: 10px 10px 0px #07bccc, 15px 15px 0px #e601c0,
        20px 20px 0px #e9019a, 25px 25px 0px #f40468, 45px 45px 10px #482896;
    cursor: pointer;
}

.pog-title:hover {
    font-variation-settings: "wght" 100, "ital" 0;
    text-shadow: none;
}

.pob-title {
    transition: all 0.2s;
    -webkit-text-stroke: 0.53px #616161;
    font-variation-settings: "wght" 900, "ital" 1;
    font-size: 2rem;
    color: transparent;
    text-shadow: 1.33px 1.33px 0px #07bccc, 2px 2px 0px #e601c0,
        2.67px 2.67px 0px #e9019a, 3.33px 3.33px 0px #f40468,
        6px 6px 1.33px #482896;
}

.pob-title:hover {
    font-variation-settings: "wght" 100, "ital" 0;
    text-shadow: none;
}

/* background-color: #8357eb; */

/* ------    top comment number title   ------  */

.listing-gradient {
    background-image: linear-gradient(to right, #378dbc, #f008e4);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

/* ------    create-listing   ------  */
input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    display: flex;
    align-content: center;
    justify-content: center;
    /* border: 0.25rem solid green; */
    /* border-radius: 0.5rem; */
}

input[type="checkbox"]::before {
    content: "";
    width: 100%;
    height: 100%;
    transform: scale(0);
    background-color: rgb(34 197 94);
}

input[type="checkbox"]:checked::before {
    transform: scale(1);
    animation: checkGlitchAnimation 1s 1 forwards;
    border-radius: 0.2rem;
}

input[type="checkbox"]:hover {
    background-color: rgba(#000, 0.5);
}

@keyframes checkGlitchAnimation {
    0% {
        transform: translate(0, 0) scale(0);
    }
    40% {
        transform: translate(50px, 0) scale(1.5, 0.5);
    }
    50% {
        transform: translate(0, 50px) scale(0.5, 1.5);
    }
    60% {
        transform: translate(-30px, -20px) scale(1.3, 0.6);
    }
    70% {
        transform: translate(20px, -30px) scale(0.8, 1.2);
    }
    100% {
        transform: translate(0, 0) scale(1, 1);
    }
}

/*  keeb shop offer buttons  */

.keeb-shop-offer-button {
    overflow: hidden;
}

.keeb-shop-offer-button-text {
    transition: transform 0.4s cubic-bezier(0.35, 0, 0, 1),
        opacity 0.4s cubic-bezier(0.35, 0, 0, 1);
    opacity: 1;
    transform: translateX(0);
}

.keeb-shop-offer-button-circle {
    opacity: 1;
    transform: scale(1);
    transition: opacity 0.4s cubic-bezier(0.35, 0, 0, 1);
}

.keeb-shop-offer-button-arrow {
    transition: opacity 0.4s cubic-bezier(0.35, 0, 0, 1),
        transform 0.4s cubic-bezier(0.35, 0, 0, 1);
    opacity: 0;
    transform: scale(0) translateX(0);
    visibility: hidden;
}

.keeb-shop-offer-button:hover .keeb-shop-offer-button-circle {
    opacity: 0;
    transform: scale(0.9);
    visibility: hidden;
    transition-delay: 0s, 0s;
}

.keeb-shop-offer-button:hover .keeb-shop-offer-button-arrow {
    opacity: 1;
    transform: scale(1) translateX(20px);
    visibility: visible;
}
.keeb-shop-offer-button:hover .keeb-shop-offer-button-text {
    transform: translateX(20px);
}

.listing-page-image {
    transition: filter 0.4s cubic-bezier(0.35, 0, 0, 1);
    /* transition: opacity 0.4s cubic-bezier(0.35, 0, 0, 1); */
}

.listing-page-image:hover {
    filter: brightness(110%);
    /* opacity: 0.8; */
}

/* --------------        END KEEB SHOP       --------------  */
/* --------------        END KEEB SHOP       --------------  */
/* --------------        END KEEB SHOP       --------------  */
/* --------------        END KEEB SHOP       --------------  */

/* ------    COMMENTS   ------  */
/* ------    COMMENTS   ------  */
/* ------    COMMENTS   ------  */
/* ------    COMMENTS   ------  */

.comment-input-box {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    resize: none;
}
.comment-input-box::placeholder {
    color: #616161;
}

.comment-input-box:focus {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.reply-input {
    border: none;
    border-bottom: 1px solid #616161;
    box-shadow: none;
    resize: none;
}
.reply-input::placeholder {
    color: #616161;
}

.reply-input:focus {
    border-bottom: 1px solid rgb(34 197 94);
    outline: none;
}
/* ------   END COMMENTS   ------  */
/* ------   END COMMENTS   ------  */
/* ------   END COMMENTS   ------  */
/* ------   END COMMENTS   ------  */

/* --------------         KEEB SHARE          --------------  */
/* --------------         KEEB SHARE          --------------  */
/* --------------         KEEB SHARE          --------------  */
/* --------------         KEEB SHARE          --------------  */

.keeb-share-preview-button {
    overflow: hidden;
}

.keeb-share-preview-button-text {
    transition: transform 0.4s cubic-bezier(0.35, 0, 0, 1),
        opacity 0.4s cubic-bezier(0.35, 0, 0, 1);
    opacity: 1;
    transform: translateX(0);
}

.keeb-share-preview-button-circle {
    opacity: 1;
    transform: scale(1);
    transition: opacity 0.4s cubic-bezier(0.35, 0, 0, 1);
}

.keeb-share-preview-button-arrow {
    transition: opacity 0.4s cubic-bezier(0.35, 0, 0, 1),
        transform 0.4s cubic-bezier(0.35, 0, 0, 1);
    opacity: 0;
    transform: scale(0) translateX(0);
    visibility: hidden;
}

.keeb-share-preview-button:hover .keeb-share-preview-button-circle {
    opacity: 0;
    transform: scale(0.9);
    visibility: hidden;
    transition-delay: 0s, 0s;
}

.keeb-share-preview-button:hover .keeb-share-preview-button-arrow {
    opacity: 1;
    transform: scale(1) translateX(15px);
    visibility: visible;
}
.keeb-share-preview-button:hover .keeb-share-preview-button-text {
    transform: translateX(15px);
}

.post-preview-tag-container {
}

.post-preview-tag-container:hover .post-preview-tag {
    visibility: hidden;
}

.post-page-user-container {
    z-index: 2;
}

.post-page-user-contents {
    z-index: 20;
}

.post-page-user-overlay {
    /* clip-path: polygon(0 15%, 100% 0%, 100% 100%, 0 100%); */
    clip-path: polygon(0 25%, 75% 0%, 100% 10%, 100% 100%, 0 100%);
    /* clip-path: polygon(0 10%, 10% 0, 90% 0, 100% 10%, 100% 100%, 0 100%); */
}

.post-preview-container {
}
.post-preview-link {
    visibility: hidden;
}
.post-preview-container:hover .post-preview-link {
    visibility: visible;
}

.post-preview-container:hover .post-preview-tag {
    visibility: hidden;
}

.youtube-transition {
    color: #f61c0d;
    transition: color 0.4s cubic-bezier(0.35, 0, 0, 1);
}
.youtube-transition:hover {
    color: #616161;
}

.keeb-share-image-button {
}

.keeb-share-image-transition {
    color: black;
    transition: color 0.4s cubic-bezier(0.35, 0, 0, 1);
}

.keeb-share-image-button:hover .keeb-share-image-transition {
    color: #616161;
    cursor: pointer;
}

/* --------------         END KEEB SHARE          --------------  */
/* --------------         END KEEB SHARE          --------------  */
/* --------------         END KEEB SHARE          --------------  */
/* --------------         END KEEB SHARE          --------------  */

/* --------------         PROFILE          --------------  */
/* --------------         PROFILE          --------------  */
/* --------------         PROFILE          --------------  */
/* --------------         PROFILE          --------------  */

@import url(https://fonts.googleapis.com/css?family=VT323);
.retroVT {
    font-family: "retro", sans-serif;
}

.profile-retro-button {
    color: #616161;
}
.profile-retro-button-text {
    color: rgb(34 197 94);
}
.profile-retro-button:hover {
    color: white;
}
.profile-retro-button:hover .profile-retro-button-text {
    color: white;
}

.console-switch {
    transition: opacity 0.4s cubic-bezier(0.35, 0, 0, 1),
        transform 0.4s cubic-bezier(0.35, 0, 0, 1);
    filter: invert(39%) sepia(0%) saturate(0%) hue-rotate(351deg)
        brightness(96%) contrast(99%);
    transform: rotate(0);
}
.console-switch:hover {
    filter: invert(48%) sepia(5%) saturate(3277%) hue-rotate(72deg)
        brightness(116%) contrast(126%);
    transform: rotate(180deg);
}

.png-computer {
    filter: invert(48%) sepia(5%) saturate(3277%) hue-rotate(72deg)
        brightness(116%) contrast(126%);
    /* color: #22c55e; */
}
.png-computer:hover {
    filter: invert(100%) sepia(6%) saturate(7476%) hue-rotate(215deg)
        brightness(110%) contrast(105%);
    color: white;
}

.profile-favorites-button {
    overflow: hidden;
    transition: background-color 0.4s cubic-bezier(0.35, 0, 0, 1);
}
.profile-favorites-button:hover {
    background-color: #2f2f2f;
}

.profile-favorites-button-text {
    transition: transform 0.4s cubic-bezier(0.35, 0, 0, 1),
        opacity 0.4s cubic-bezier(0.35, 0, 0, 1);
    opacity: 1;
}

.profile-favorites-button-circle {
    opacity: 1;
    transform: scale(1);
    position: relative;
    right: 15px;
    transition: opacity 0.4s cubic-bezier(0.35, 0, 0, 1);
}
@keyframes scaleUpDown {
    0%,
    100% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(2);
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.profile-favorites-button-heart {
    position: relative;
    transition: opacity 0.4s cubic-bezier(0.35, 0, 0, 1),
        transform 0.4s cubic-bezier(0.35, 0, 0, 1);
    opacity: 0;
    transform: scale(1);
    visibility: hidden;
    left: 1px;
}

.profile-favorites-button:hover .profile-favorites-button-circle {
    animation: profileButton 1s cubic-bezier(0.35, 0, 0, 1) forwards;
    transition-delay: 0s, 0s;
}

.profile-favorites-button:hover .profile-favorites-button-heart {
    opacity: 1;
    transform: scale(1);
    visibility: visible;
    transition-delay: 0.45s, 0.45s;
}

.profile-select-button {
    overflow: hidden;
    transition: background-color 0.4s cubic-bezier(0.35, 0, 0, 1);
}
.profile-select-button:hover {
    background-color: #2f2f2f;
}

.profile-select-button-text {
    transition: transform 0.4s cubic-bezier(0.35, 0, 0, 1),
        opacity 0.4s cubic-bezier(0.35, 0, 0, 1);
    opacity: 1;
}

.profile-select-button-square {
    opacity: 1;
    transform: scale(1);
    position: relative;
    right: 15px;
    transition: opacity 0.4s cubic-bezier(0.35, 0, 0, 1);
}
@keyframes profileButton {
    0%,
    100% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(1.8);
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.profile-select-button-arrow {
    position: relative;
    transition: opacity 0.4s cubic-bezier(0.35, 0, 0, 1),
        transform 0.4s cubic-bezier(0.35, 0, 0, 1);
    opacity: 0;
    transform: scale(1);
    visibility: hidden;
    left: 3px;
}

.profile-select-button:hover .profile-select-button-square {
    animation: scaleUpDown 1s cubic-bezier(0.35, 0, 0, 1) forwards;
    transition-delay: 0s, 0s;
}

.profile-select-button:hover .profile-select-button-arrow {
    opacity: 1;
    transform: scale(1);
    visibility: visible;
    transition-delay: 0.45s, 0.45s;
}

.profile-select-button-link {
    transition: transform 0.4s cubic-bezier(0.35, 0, 0, 1);
}

.profile-select-button:hover .profile-select-button-link {
    transform: rotate(-45deg);
}

.profile-manage-button {
    overflow: hidden;
}
.profile-manage-button:hover {
    border-color: #22c55e;
}

.profile-manage-button-text {
    transition: transform 0.4s cubic-bezier(0.35, 0, 0, 1),
        opacity 0.4s cubic-bezier(0.35, 0, 0, 1);
    opacity: 1;
    transform: translateX(0);
}

.profile-manage-button-circle {
    opacity: 1;
    transform: scale(1);
    transition: opacity 0.4s cubic-bezier(0.35, 0, 0, 1);
}

.profile-manage-button-arrow {
    transition: opacity 0.4s cubic-bezier(0.35, 0, 0, 1),
        transform 0.4s cubic-bezier(0.35, 0, 0, 1);
    opacity: 0;
    transform: scale(0) translateX(0);
    visibility: hidden;
}

.profile-manage-button:hover .profile-manage-button-circle {
    opacity: 0;
    transform: scale(0.9);
    visibility: hidden;
    transition-delay: 0s, 0s;
}

.profile-manage-button:hover .profile-manage-button-arrow {
    opacity: 1;
    transform: scale(1) translateX(15px);
    visibility: visible;
    color: #22c55e;
}
.profile-manage-button:hover .profile-manage-button-text {
    transform: translateX(15px);
    color: #22c55e;
}

.profile-ascii {
    animation: wave 6s infinite ease-in-out;
}

@keyframes wave {
    0%,
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}

/* Scanlines && Flicker  */

@keyframes blink {
    to {
        opacity: 0;
    }
}

@keyframes flicker {
    0% {
        opacity: 0.15795;
    }
    5% {
        opacity: 0.31511;
    }
    10% {
        opacity: 0.94554;
    }
    15% {
        opacity: 0.2469;
    }
    20% {
        opacity: 0.62031;
    }
    25% {
        opacity: 0.0293;
    }
    30% {
        opacity: 0.00899;
    }
    35% {
        opacity: 0.5344;
    }
    40% {
        opacity: 0.12778;
    }
    45% {
        opacity: 0.52042;
    }
    50% {
        opacity: 0.3823;
    }
    55% {
        opacity: 0.2198;
    }
    60% {
        opacity: 0.9383;
    }
    65% {
        opacity: 0.86615;
    }
    70% {
        opacity: 0.68695;
    }
    75% {
        opacity: 0.55749;
    }
    80% {
        opacity: 0.96984;
    }
    85% {
        opacity: 0.0361;
    }
    90% {
        opacity: 0.24467;
    }
    95% {
        opacity: 0.08351;
    }
    100% {
        opacity: 0.54813;
    }
}

.retro-scanlines {
    height: 1px;
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    z-index: 25;
}
/* scanlines are just made from varying linear-gradient values */

.retro-scanlines:before {
    background: linear-gradient(#101010 50%, rgba(16, 16, 16, 0.2) 50%),
        linear-gradient(
            90deg,
            rgba(255, 0, 0, 0.03),
            rgba(0, 255, 0, 0.02),
            rgba(0, 0, 255, 0.03)
        );
    background-size: 100% 2px, 8px 100%;
    content: "";
    display: block;
    pointer-events: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 25;
}

.retro-scanlines:after {
    animation: flicker 0.9s infinite;
    background: rgba(16, 16, 16, 0.2);
    content: "";
    display: block;
    pointer-events: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 25;
}

/* command console fake hack */

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge, and Firefox */
.hide-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.display-keeb-card-overlay {
    clip-path: polygon(0 15%, 100% 0%, 100% 100%, 0 100%);
}

/* --------------         END PROFILE         --------------  */
/* --------------         END PROFILE         --------------  */
/* --------------         END PROFILE         --------------  */
/* --------------         END PROFILE         --------------  */

/* --------------     PUBLIC PROFILE    --------------  */
/* --------------     PUBLIC PROFILE    --------------  */
/* --------------     PUBLIC PROFILE    --------------  */
/* --------------     PUBLIC PROFILE    --------------  */

.public-profile-background {
    z-index: 4;
}
.public-profile-container {
    z-index: 6;
}

.matrix-full-screen {
    z-index: 1;
}

.matrix-contents {
    z-index: 10;
}

/* --------------     MESSAGES    --------------  */
/* --------------     MESSAGES    --------------  */
/* --------------     MESSAGES    --------------  */
/* --------------     MESSAGES    --------------  */

.send-message-button {
    overflow: hidden;
    transition: background-color 0.4s cubic-bezier(0.35, 0, 0, 1);
}

.send-message-button-arrow {
    transition: transform 0.4s cubic-bezier(0.35, 0, 0, 1);
    transform: rotate(0);
}
.send-message-button:hover {
    background-color: black;
}
.send-message-button:focus {
    background-color: black;
}

.send-message-button:hover .send-message-button-arrow {
    transform: rotate(-45deg);
}
.send-message-button:focus .send-message-button-arrow {
    transform: rotate(-45deg);
}

/* Shared styles for all messages */

/* --------------     END MESSAGES    --------------  */
/* --------------     END MESSAGES    --------------  */
/* --------------     END MESSAGES    --------------  */
/* --------------     END MESSAGES    --------------  */

/* --------------     404    --------------  */
/* --------------     404    --------------  */
/* --------------     404    --------------  */
/* --------------     404    --------------  */

.lost-index {
    z-index: 10;
}
/* --------------     END 404    --------------  */
/* --------------     END 404    --------------  */
/* --------------     END 404    --------------  */
/* --------------     END 404    --------------  */

/* --------------     KEEBDEX   --------------  */
/* --------------     KEEBDEX   --------------  */
/* --------------     KEEBDEX   --------------  */
/* --------------     KEEBDEX   --------------  */

/* --------------     SCAM PREVENTION    --------------  */
/* --------------     SCAM PREVENTION    --------------  */
/* --------------     SCAM PREVENTION    --------------  */
/* --------------     SCAM PREVENTION    --------------  */

.keebdex-grid-background {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    min-height: 100%;
    background-color: #fadadd; /* Light pink background */
    background-image: linear-gradient(
            0deg,
            transparent 95%,
            rgba(0, 0, 0, 0.3) 95%
        ),
        /* Horizontal lines */
            linear-gradient(90deg, transparent 95%, rgba(0, 0, 0, 0.3) 95%);
    background-size: 50px 50px; /* Controls the grid size */
    z-index: 1; /* Ensures the background is behind other content */
}
.scam-prevention-button {
    transition: transform 0.2s ease-in-out;
}

.scam-prevention-button:hover {
    transform: translateX(-50%) scale(1.05); /* Scales up on hover */
}

.scam-prevention-button:active {
    transform: translateX(-50%) scale(0.95); /* Scales down on active/tap */
}

.scam-prevention-shadow {
    box-shadow: 3px 3px 0px black, 6px 6px 0px black;
}

/* --------------     END SCAM PREVENTION    --------------  */
/* --------------     END SCAM PREVENTION    --------------  */
/* --------------     END SCAM PREVENTION    --------------  */
/* --------------     END SCAM PREVENTION    --------------  */

/* --------------     KEEBY RULES   --------------  */
/* --------------     KEEBY RULES   --------------  */
/* --------------     KEEBY RULES   --------------  */
/* --------------     KEEBY RULES   --------------  */

.rules-background {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
    font-size: 2.5rem;
    color: rgb(57, 162, 217);
    background-color: rgb(252, 155, 194);
    background-image: linear-gradient(
            rgb(252, 243, 215) 0.15rem,
            transparent 0.15rem
        ),
        linear-gradient(90deg, rgb(252, 243, 215) 0.15rem, transparent 0.15rem);
    background-size: 0.75em 0.75em;
}

.palm-tree {
    position: absolute;
    top: 0;
    left: 0;
}

.palm-frond {
    position: absolute;
    width: 150px;
    height: 350px;
    top: 0rem;
    left: 0rem;
    background: conic-gradient(
        from -22deg,
        #399fa9 0deg 180deg,
        rgb(48, 178, 160) 180deg 360deg
    );
    border-radius: 0 100%;
    box-shadow: 4rem 4rem 0 0.5rem rgba(147, 128, 181, 0.75);
}

.divet {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 0.5rem solid transparent;
    border-right: 0.5rem solid transparent;
}

.first {
    top: 15rem;
    left: 4rem;
    transform: rotate(40deg);
    border-bottom: 2.75rem solid rgb(252, 155, 194);
}

.second {
    top: 5rem;
    left: 5rem;
    transform: rotate(280deg);
    border-bottom: 2.75rem solid rgb(147, 128, 181);
}

.one {
    z-index: 1;
}

.two {
    transform: rotate(30deg);
    z-index: 0;
}

.three {
    transform: rotate(-50deg);
    z-index: 2;
}

.four {
    transform: rotate(-70deg);
    z-index: 2;
    top: -1rem;
    left: 5rem;
}

.parasol {
    position: absolute;
    z-index: 10;
    height: 400px;
    width: 400px;
    top: -14rem;
    right: -10rem;
    border-radius: 100%;
    background: repeating-conic-gradient(
        rgb(252, 243, 215) 0deg 45deg,
        rgb(57, 162, 217) 46deg 90deg,
        rgb(252, 243, 215) 91deg 100deg
    );
    box-shadow: 4rem 4rem 0 0.5rem rgba(147, 128, 181, 0.75);
}

.flip-flop {
    position: absolute;
    height: 80px;
    width: 40px;
    top: 12rem;
    right: 5rem;
    border-radius: 1rem;
    background-color: rgb(252, 243, 215);
    box-shadow: 0.5rem 0 0 0.2rem rgba(147, 128, 181, 0.75);
}

.flip-flop:before {
    content: "";
    position: absolute;
    bottom: 1rem;
    right: 0;
    border: 5px solid rgb(57, 162, 217);
    border-right: 0;
    border-bottom: 0;
    border-top-left-radius: 100px;
    width: 17px;
    height: 15px;
}

.flip-flop:after {
    content: "";
    position: absolute;
    bottom: 1rem;
    left: 0;
    border: 5px solid rgb(57, 162, 217);
    border-left: 0;
    border-bottom: 0;
    border-top-right-radius: 100px;
    width: 17px;
    height: 15px;
}

#second-flip-flop {
    transform: translateX(3.5rem);
}

.chair {
    position: absolute;
    width: 250px;
    height: 600px;
    top: -15rem;
    left: 3rem;
    background: repeating-linear-gradient(
        90deg,
        rgb(252, 243, 215),
        rgb(252, 243, 215) 50px,
        rgb(57, 162, 217) 50px,
        rgb(57, 162, 217) 100px
    );
    border-left: 8px solid rgb(255, 223, 130);
    border-right: 8px solid rgb(255, 223, 130);
}

.pool-edge {
    box-shadow: 0.5rem 0 0 0.2rem rgba(147, 128, 181, 0.75);
    background-color: rgb(252, 243, 215);
}

.pool {
    background-color: rgb(67, 205, 216);
    background-image: linear-gradient(
            45deg,
            transparent 0 5rem,
            rgba(252, 243, 215, 0.5) 5rem 5.15rem,
            transparent 5.15rem 6.25rem
        ),
        linear-gradient(
            132deg,
            transparent 0 5rem,
            rgba(252, 243, 215, 0.5) 5rem 5.15rem,
            transparent 5.15rem 6.25rem
        ),
        linear-gradient(
            225deg,
            transparent 0 5rem,
            rgba(252, 243, 215, 0.5) 5rem 5.15rem,
            transparent 5.15rem 6.25rem
        ),
        linear-gradient(
            315deg,
            transparent 0 5rem,
            rgba(252, 243, 215, 0.5) 5rem 5.15rem,
            transparent 5.15rem 6.25rem
        );
    background-size: 4.75rem 4.75rem;
    box-shadow: inset 5rem 5rem 0 2rem rgba(57, 162, 217, 0.65);
}

.pool-sign-edge {
    background-color: rgb(252, 243, 215);
    box-shadow: 0.5rem -0.5rem 0 0.3rem rgba(147, 128, 181, 0.45);
}
.pool-sign {
    border-color: rgb(57, 162, 217);
    color: rgb(57, 162, 217);
    background-color: rgb(252, 243, 215);
}

.inner-tube {
    position: absolute;
    top: 250px;
    right: 20%;
    height: 100px;
    width: 100px;
    border-radius: 100%;
    background: repeating-conic-gradient(
        rgb(252, 243, 215) 0deg 45deg,
        rgb(244, 94, 145) 46deg 90deg
    );
    box-shadow: 0.5rem 0 0 0.2rem rgba(147, 128, 181, 0.75);
}

.inner-tube:after {
    content: "";
    position: absolute;
    bottom: 25%;
    right: 25%;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    background: rgb(67, 205, 216);
    box-shadow: inset -0.25rem -0.25rem 0 0.15rem rgb(147, 128, 181);
}

@media (max-height: 700px) {
    .sign {
        transform: scale(0.45, 0.45);
    }
    .inner-tube {
        left: 70%;
    }
}

/* --------------     END KEEBY RULES   --------------  */
/* --------------     END KEEBY RULES   --------------  */
/* --------------     END KEEBY RULES   --------------  */
/* --------------     END KEEBY RULES   --------------  */
