@tailwind base;
@tailwind components;
@tailwind utilities;

/* -----------test  */

#paragraph {
    color: #646669;
}
.result-details {
    color: white;
}
::selection {
    color: #fff;
    background: #58cc00;
}
.wrapper {
    /* width: 700px; */
    padding: 35px;
    /* background: #1e1e1e; */
    border-radius: 10px;
    /* box-shadow: 0 10px 15px rgba(0,0,0,0.05); */
}
.wrapper .input-field {
    opacity: 0;
    z-index: -999;
    position: absolute;
}
.wrapper .content-box {
    padding: 13px 20px 0;
    /* border-radius: 10px; */
    /* border: 4px solid #36cc00; */
}
.content-box .typing-text {
    overflow: hidden;
    max-height: 256px;
}
.typing-text::-webkit-scrollbar {
    width: 0;
}
.typing-text p {
    font-size: 1.5rem;
    text-align: justify;
    letter-spacing: 1px;
    /* word-break: break-all; */
    color: #646669;
}
.typing-text p span {
    position: relative;
}
.typing-text p span.correct {
    color: #d1d0c5;
}
.typing-text p span.incorrect {
    color: #ca4754;
}
.typing-text p span.active {
    color: #81f36f;
}
.typing-text p span.active::before {
    position: absolute;
    content: "";
    height: 2px;
    width: 100%;
    bottom: 0;
    left: 0;
    opacity: 0;
    border-radius: 5px;
    background: #1bcc00;
    animation: blink 1s ease-in-out infinite;
}
@keyframes blink {
    50% {
        opacity: 1;
    }
}
.content-box .content {
    margin-top: 17px;
    display: flex;
    padding: 12px 0;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    border-top: 3px solid #1bcc00;
}
.content button {
    outline: none;
    border: none;
    width: 105px;
    color: #1bcc00;
    padding: 8px 0;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 15px;
    border: 3px solid #1bcc00;
    background: none;
    transition: transform 0.2s ease;
}
.content button:active {
    transform: scale(0.89);
}
.content button:hover {
    background: #ffffff;
}
.content .result-details {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: calc(100% - 140px);
    justify-content: space-between;
}
.result-details li {
    display: flex;
    height: 20px;
    list-style: none;
    position: relative;
    align-items: center;
}
.result-details li:not(:first-child) {
    padding-left: 22px;
    border-left: 2px solid #bfbfbf;
}
.result-details li p {
    font-size: 13px;
}
.result-details li span {
    display: block;
    font-size: 13px;
    margin-left: 10px;
}
li span b {
    font-weight: 500;
}
li:not(:first-child) span {
    font-weight: 500;
}
@media (max-width: 745px) {
    .wrapper {
        padding: 20px;
    }
    .content-box .content {
        padding: 20px 0;
    }
    .content-box .typing-text {
        max-height: 100%;
    }
    .typing-text p {
        font-size: 19px;
        text-align: left;
    }
    .content button {
        width: 100%;
        font-size: 15px;
        padding: 10px 0;
        margin-top: 20px;
    }
    .content .result-details {
        width: 100%;
    }
    .result-details li:not(:first-child) {
        border-left: 0;
        padding: 0;
    }
    .result-details li p,
    .result-details li span {
        font-size: 15px;
    }
}
@media (max-width: 518px) {
    .wrapper .content-box {
        padding: 10px 15px 0;
    }
    .typing-text p {
        font-size: 13px;
    }
    .result-details li {
        margin-bottom: 10px;
    }
    .content button {
        margin-top: 10px;
    }
}

/* --------------     Navbar     --------------  */

.dropdown-menu-gif {
    background-image: url("../../public/Gifs/green-grid.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0 0 10px #32ab36;
}

/* --------------     game     --------------  */

/* word */
.active {
}

.word {
}

.wordError {
}

/* letter */
.correct {
    color: #58cc00;
}
.correct-typing {
    color: #58cc00;
}

.incorrect {
    color: red;
}

.cursor-blink {
    animation: blink-animation 0.8s step-end infinite;
}

@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}

/* rando */
.button-hover-effect {
    position: relative;
    overflow: hidden;
}

.button-hover-effect::before {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url("../../public/Gifs/matrix.gif"); /* Add your desired image path */
    background-size: 200%;
    background-repeat: no-repeat;
    background-position: right center;
    transform: translateX(100%);
    transition: transform 0.3s ease;
    /* opacity: 0.7; */
}

.button-hover-effect:hover::before {
    transform: translateX(-18%);
}

/*  moving title */

/* ----------             Moving Title         --------------- */

.moving-title {
    /* color: #00dd00; */
    position: relative;
}

.moving-title::after {
    content: "";
    position: absolute;
    animation: periods 1s linear infinite;
}

@keyframes periods {
    25% {
        content: ".";
    }

    50% {
        content: "..";
    }

    75% {
        content: "...";
    }
}
